@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito','Sans-serif';

    }
  
  html {
      scroll-behavior: smooth;

  }

.header{
    background-color: #bda87f;
	padding: 15px 30px;
    color: #fff; 
    scroll-behavior: smooth;
       }
.navbar-brand{
    color: black;
    font-size: 28px;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link{
    font-size: 18px;
    color: rgb(241, 240, 181);
    font-weight: bold;
}
    
.nav-link:hover{
    color: black;
}
.badge{
    color: red;
    background-color: #fff;
    font-size: 15px;
    border-radius: 10px;
}
.container{
    margin-top: auto;
    background-color: rgb(200, 223, 185);
    border-radius: 12px;
    
}
  thead{
    color: rgb(20, 32, 3);
  
  }
  .checkout{
      box-shadow:inset 0px 1px 3px 0px #94b891;
      background:rgb(44,1,1);
      color: #fff;
      border-radius:20px 4px;
      border:1px solid rgb(44,1,1);
      display:inline-block;
      cursor:pointer;
      font-size:15px;
      font-weight:bold;
      padding:11px 23px;
  }
  .checkout:hover{
    background-color: rgb(211, 202, 138);
    color: black;
  }
  .btn-sm{
      border-radius: 20%;
      font-weight: bold;
  }
  