{% load static %}
{% load cart %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>cart</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" 
  type="image/png" 
  href="https://cdn1.vectorstock.com/i/1000x1000/00/25/wine-logo-transparent-background-vector-16260025.jpg"/>
  
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>

<body>
    
    <nav id="navbar_top" class="navbar navbar-expand-lg  header">
        <a class="navbar-brand" href="/">Grapewine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/store/prod">Products</a>
                </li>
            </ul>
            
            <form class="form-inline">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/store/cart">
                            <span class="fa fa-shopping-cart" style="font-size:35px; color: rgb(45,1,1);"></span> 
                        <span class="badge badge-info">{{ request.session.cart.keys|length }}</span>
                        </a>
                    </li>
                    {% if request.session.customer %}
                    <li class="nav-item ">
                        <a class="nav-link" href="/order">Order</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="/store/signup">Signup</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/store/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </form>
        </div>
    </nav>

    {% if signupSuccess %}
        {{ signupSuccess }}
    {% endif %}  
  
  <div class="container">
      <div class="row" style="    margin-top: 50px;">
          {% if request.session.cart %}
          <h1 class="font-weight-light" style="text-align: center; margin-left: 500px;">Cart</h1>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Items</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Action</th>
                      <th>Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in allProduct %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><img height="80px" width="100px" src="{{ product.image.url }}" alt=""></td>
                      <td>{{ product.name }}</td>
                      <td>Kshs: {{ product.price}}</td>
                      <td>{{ product|cart_quantity:request.session.cart }}</td>
                      <td>
                          <a href="cart?increase={{ product.id }}" class="btn btn-sm btn-success">+</a>
                          <a href="cart?decrease={{ product.id }}" class="btn btn-sm btn-danger">-</a>
                      </td>
                      <th>Kshs: {{ product|price_subtotal:request.session.cart}}</th>
  
                  </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="5"></td>
                      <td colspan="1"><strong>Total : </strong></td>
                      <td>Kshs:{{ allProduct|price_total:request.session.cart}}</td>
                  </tr>
              </tfoot>
          </table>
      </div>
      <hr>
      <div class="float-right">
          <!-- Button trigger modal -->
          <button type="button" class="btn  checkout" data-toggle="modal" data-target="#exampleModalCenter">
            Checkout
          </button>
         
      </div>
  
      {% else %}
          <h1 class="font-weight-light text-center" style="margin-left: 200px; ">Your cart is empty</h1>
      {% endif %}
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Address info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/store/checkout" method="POST">
                  {% csrf_token %}
                   <div class="form-group">
                      <label for="address">Address</label>
                      <input name="address" type="text" class="form-control" id="address" placeholder="Enter address">
                  </div>
                  <div class="form-group">
                      <label for="phone">Phone number</label>
                      <input name="phone" type="number" class="form-control" id="phone" placeholder="Enter phone number">
                  </div>
                  <div class="float-right">
                      <input type="submit" value="Confirm" class="btn btn-success" style="background-color: rgb(45,1,1); border-radius: 20px 4px;">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>

 